/* style.css */
body{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.header,
.hero,
.information,
.quote,
.action,
.footer{
    padding-left: 64px;
    padding-right: 64px;
} /*Add margin to entire page */

.header,
.hero,
.footer{
    background-color: #1f2937;
    color: white;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    margin: 12px;
    color: white;

}
.hero{
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 64px;
    align-content: 
}

.hero-left{
    margin: 24px;
    display: flex;
    max-width: 400px;
    
    flex-wrap: wrap;
}

.hero-main{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 16px;

}

.hero-second{
    margin-bottom: 16px;
}

.hero-right{
    margin: 24px;
}

.hero-right img{
    width: 400px;
    height: auto;
}

.information{
    display: flex;
    flex: 1;
    flex-direction: column;
    

}

.title{
    font-size: 36px;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    padding: 24px;
}

.about{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 24px;
    
}

.chapel,
.michael,
.ou-texas{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto; 
}

.about img{
    border-radius: 15px;
    border-style: solid;
    border-color: #3882F6;
}

.descript{
    margin-top: 16px;
}


.quote{
    display: flex;
    flex: 1;
    background-color: lightgray;
    flex-direction: column;    
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.quote .text{
    font-size: 36px;
    font-style: italic;
}

.quote .quoted{
    display: flex;
    font-size: 24px;
    font-weight: bolder;
    justify-content: right;
}


.action{
    display: flex;
    flex: 1;
    margin: 64px;
    background-color: #3882F6;
    padding: 32px;
    border-radius: 10px;
    justify-content: space-between;
    align-content: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.need-more{
    font-size: 24px;
    color: white;
    font-weight: bolder;
}

.explanation{
    font-size: 18px;
    color: white;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer-text{
    padding: 36px;
}

button{
    display: flex;
    background-color: #3882f6;
    border-radius: 5px;
    border-style: solid;
    color: white;
    border-color: white;
    

}

