/* style.css */
body{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.header,
.hero,
.information,
.quote,
.action,
.footer{
    padding-left: 64px;
    padding-right: 64px;
} /*Add margin to entire page */

.header,
.hero,
.footer{
    background-color: #1f2937;
    color: white;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    margin: 12px;
    color: white;

}
.hero{
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 64px;
    align-content: 
}

.hero-left{
    margin: 24px;
    display: flex;
    max-width: 400px;
    
    flex-wrap: wrap;
}

.hero-main{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 16px;

}

.hero-second{
    margin-bottom: 16px;
}

.hero-right{
    margin: 24px;
}

.hero-right img{
    width: 400px;
    height: auto;
}

.information{
    display: flex;
    flex: 1;
    flex-direction: column;
    

}

.title{
    font-size: 36px;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    padding: 24px;


}

.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about img{
    max-height: 200px;
    width: auto;
    
}

.quote{
    display: flex;
    flex: 1;
}
.action{
    display: flex;
    flex: 1;
}
.footer{
    display: flex;
    flex: 1;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    border-style: solid;
    color: white;
    font-weight: bold;
}